*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
@keyframes glow {
  0% {
    text-shadow: 0 0 2px #ff004f, 0 0 4px #ff004f;
  }
  50% {
    text-shadow: 0 0 6px #ff004f, 0 0 10px #ff004f;
  }
  100% {
    text-shadow: 0 0 2px #ff004f, 0 0 4px #ff004f;
  }
}

.myname {
  position: absolute;
  top: 20px;
  left: 10%;
  font-size: 2.5rem;
  font-weight: bold;
  color: #f5d7dd; /* soft light pink */
  letter-spacing: 2px;
  font-family: 'Montserrat', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  z-index: 999;

  animation: glow 2s ease-in-out infinite;
}


.myname:hover {
  text-shadow: 0 0 10px #ff004f, 0 0 20px #ff004f, 0 0 30px #ff004f;
  transition: text-shadow 0.5s;
}



@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff004f, 0 0 10px #ff004f, 0 0 20px #ff004f;
  }
  50% {
    text-shadow: 0 0 20px #ff004f, 0 0 30px #ff004f, 0 0 40px #ff004f;
  }
  100% {
    text-shadow: 0 0 5px #b0093e, 0 0 10px #ff004f, 0 0 20px #ff004f;
  }
}

.header-text p {
  font-size: 30px;
  animation: glow 2s ease-in-out infinite;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

#header {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

#header img {
  width: 45%;
  height: 85%;
  border-radius: 20px;
  margin-right: 0%;
  margin-top: 10%;
}

.myname {
  font-size: 50px;
  position: absolute;
  top: 20px;
  left: 10%;
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: 2px;
  font-family: 'Montserrat', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 15px 15px 15px rgba(0, 0, 0, 0.7);
  z-index: 999;
}
 .nav-links {
  position: absolute;
  margin-right:10%;
  top: 50px;
  right: 50px;
  z-index: 999;

}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
} 

.nav-links ul li a:hover {
  color: #ff004f;
}
.header-text{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    margin-left: 10px;
}
.header-text h1 span{
    color: #ff004f;
}
/* ---------ABOUT---------- */

#about {
  padding: 80px 0;
  color: rgb(200, 200, 200);
}

.container {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 40%;
}
.about-col-1 h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.about-col-1 img {
  width: 100%;
  height: 20%;
  border-radius: 20px;
}

.about-col-2 {
  flex-basis: 55%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
} */
/* -----------Services------------ */
 #services{
  padding: 30px 0;
}
.services-list{
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
 grid-gap: 40px;
 margin-top: 50px;
}
.services-list div{
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300px;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a{
   text-decoration: none;
   color: #fff;
   font-size: 12px;
   margin-top: 20px;
   display: inline-block;
}
.services-list div:hover{
  background: #ff004f;
  transform: translateY(-10px);
}

#portfolio{
  padding: 50px 0;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5sec;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover{
  background: #ff004f;
}
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
   margin-top: 30px;
} 
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}
.btn.btn2{
  display: inline-block;
  background: #ff004f;
} 
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
} 
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
} 
#msg{
  color: #61b752;
  margin-top: -40px;
  display: block;
}

/* ------------Small Screen------------- */
.desktop-img {
  width: 45%;
  height: 85%;
  border-radius: 20px;
   margin-right: -60px;
  margin-right: 0%;
  margin-top: 10%;
  display: block; 
}
nav .fa-solid{
display: none;
}
@media only screen and (max-width: 600px) {
  #header {
    background-image: url("mobile photo2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .desktop-img {
    display: none; 
  }
  .header-text{
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1{
    font-size: 30px;
  }
  nav .fa-solid{
  display: block;
}
nav ul {
  background-color: #ff004f;
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: right 0.3s;
}
nav .fa-bars {
  position: absolute;
  top: -15px;
  right: 0px; 
  left: 40px;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

nav ul li {
  display: block;
  margin: 25px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px; /* Links ka size bada */
  font-weight: bold;
}
nav ul i.fa-xmark {
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
}
nav ul .close-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 28px; /* Cross icon size bada */
  cursor: pointer;
  color: white;
}

nav .fa-bars {
  display: none; /* Desktop me hide */
}
@media only screen and (max-width: 600px) {
  nav .fa-bars {
    display: block;
    font-size: 25px;
    color: white;
    cursor: pointer;
  }
}
}